<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.keeplive">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />

    <application
        android:allowBackup="true"
        android:persistent="true"
        android:supportsRtl="true">

        <!-- For test -->
        <activity
            android:name="com.keeplive.test.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <service android:name="com.keeplive.test.MyAlarmService" />


        <!-- 锁屏界面 -->
        <activity
            android:name="com.keeplive.service.screen.KeepLiveActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/KeepLiveStyle">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <service android:name="com.keeplive.service.screen.ScreenListeningService" />


        <!-- 双进程守护 -->
        <service android:name="com.keeplive.service.daemon.LocalService" />

        <service
            android:name="com.keeplive.service.daemon.RemoteService"
            android:process=":remoteprocess" />

        <service
            android:name="com.keeplive.JobHandleService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <!-- 系统事件监听 -->
        <receiver android:name="com.keeplive.receiver.KeepLiveReceiver">
            <intent-filter android:priority="100">
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

    </application>

</manifest>