<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>angle</key>
    <real>239.18</real>
    <key>angleVariance</key>
    <real>115.89</real>
    <key>duration</key>
    <real>0.1</real>
    <key>startParticleSize</key>
    <real>17.5</real>
    <key>startParticleSizeVariance</key>
    <real>86.8947</real>
    <key>finishParticleSize</key>
    <real>22.5</real>
    <key>finishParticleSizeVariance</key>
    <real>27.5</real>
    <key>gravityx</key>
    <integer>40</integer>
    <key>gravityy</key>
    <integer>80</integer>
    <key>maxParticles</key>
    <integer>333</integer>
    <key>maxRadius</key>
    <integer>0</integer>
    <key>maxRadiusVariance</key>
    <integer>0</integer>
    <key>minRadius</key>
    <integer>0</integer>
    <key>minRadiusVariance</key>
    <integer>0</integer>
    <key>particleLifespan</key>
    <real>0.889186</real>
    <key>particleLifespanVariance</key>
    <real>1.48632</real>
    <key>rotatePerSecond</key>
    <integer>0</integer>
    <key>rotatePerSecondVariance</key>
    <integer>0</integer>
    <key>rotationEnd</key>
    <integer>0</integer>
    <key>rotationEndVariance</key>
    <integer>0</integer>
    <key>rotationStart</key>
    <integer>0</integer>
    <key>rotationStartVariance</key>
    <integer>0</integer>
    <key>sourcePositionVariancex</key>
    <real>147.6</real>
    <key>sourcePositionVariancey</key>
    <integer>-64</integer>
    <key>sourcePositionx</key>
    <real>313.971</real>
    <key>sourcePositiony</key>
    <real>248.07</real>
    <key>speed</key>
    <real>57.859</real>
    <key>speedVariance</key>
    <integer>45</integer>
    <key>startColorAlpha</key>
    <integer>255</integer>
    <key>startColorBlue</key>
    <integer>0</integer>
    <key>startColorGreen</key>
    <integer>1</integer>
    <key>startColorRed</key>
    <integer>1</integer>
    <key>startColorVarianceAlpha</key>
    <integer>0</integer>
    <key>startColorVarianceBlue</key>
    <integer>0</integer>
    <key>startColorVarianceGreen</key>
    <integer>0</integer>
    <key>startColorVarianceRed</key>
    <integer>0</integer>
    <key>finishColorAlpha</key>
    <integer>1</integer>
    <key>finishColorBlue</key>
    <integer>0</integer>
    <key>finishColorGreen</key>
    <integer>0</integer>
    <key>finishColorRed</key>
    <integer>0</integer>
    <key>finishColorVarianceAlpha</key>
    <integer>255</integer>
    <key>finishColorVarianceBlue</key>
    <integer>0</integer>
    <key>finishColorVarianceGreen</key>
    <integer>0</integer>
    <key>finishColorVarianceRed</key>
    <integer>0</integer>
    <key>tangentialAccelVariance</key>
    <integer>0</integer>
    <key>tangentialAcceleration</key>
    <integer>0</integer>
    <key>radialAccelVariance</key>
    <integer>20</integer>
    <key>radialAcceleration</key>
    <integer>0</integer>
    <key>blendFuncSource</key>
    <integer>1</integer>
    <key>blendFuncDestination</key>
    <integer>1</integer>
    <key>emitterType</key>
    <integer>0</integer>
    <key>spriteFrameUuid</key>
    <string>67cb2eaf-0219-4409-877d-8afc582b2442</string>
  </dict>
</plist>